@model RegistrationBinding
@{
    ViewData["Title"] = "Registration Page";
}
<!DOCTYPE html>
<html>
<head>  
    <title>Форма входа</title>
    <style>
        .input-validation-error {
            border-color: red; 
        }
    </style>
</head>
<body>
    <h2>Регистрация</h2>
    <hr />
    <form method="post" asp-controller="Registration" asp-action="Index" enctype="multipart/form-data">
                <label asp-for="login"></label>
                <input asp-for="login" />
                <br><span asp-validation-for="login" class="text-danger"></span><br><br>

                <label asp-for="psevdonim"></label>
                <input asp-for="psevdonim" />
                <br><span asp-validation-for="psevdonim" class="text-danger"></span><br><br>

                <label asp-for="photo"></label>
                <input asp-for="photo" />
                <br><span asp-validation-for="photo" class="text-danger"></span><br><br>

                <p>Выберете, желаете ли восстановить аккаунт в случае потери пароля</p>
                <div>
                    <input type="radio" id="RecoveryChoice1" checked name="isRecovery" value="noRecovery">
                    <label for="RecoveryChoice1">Не восстанавливать аккаунт</label>

                    <input type="radio" id="RecoveryChoice2" name="isRecovery" value="emailForRecovery">
                    <label for="RecoveryChoice2">Восстановление через кодовое слово</label>

                    <input type="radio" id="RecoveryChoice3" name="isRecovery" value="codewordForRecovery">
                    <label for="RecoveryChoice3">Восстановление через email</label>

                    <input asp-for="codeWord" type="text" id="codeWordInput" placeholder="Введите кодовое слово" style="display: none;" />

                    <input asp-for="email" type="email" id="emailInput" placeholder="Введите email" style="display: none;" />

                    </div><br>

                <div>
                    <label asp-for="sex"></label>
                    <br />
                    <input type="radio" id="selectSex1" checked name="sex" value="male">
                    <label for="selectSex1">Мужской</label>

                    <input type="radio" id="selectSex2" name="sex" value="fmale">
                    <label for="selectSex2">Женский</label>
                </div><br>

                <label asp-for="password"></label>
                <input asp-for="password" />
                <br><span asp-validation-for="password" class="text-danger"></span><br><br>

                <label asp-for="confirmPassword"></label>
                <input asp-for="confirmPassword">
                <br><span asp-validation-for="confirmPassword" class="text-danger"></span><br><br>

                <input type="submit" value="Зарегистрироватся">
            </form>
</body>
<script src="/js/site.js"></script>
</html>
